.cover {
  object-fit: cover;
  height: 50vh;
  margin-top: 20ox;
}

.box {
  position: relative;
  top: -33vh;
  margin-left: 10vw;
  margin-right: 10vw;
  left: 0;
  right: 0;
  color: white;
  z-index: 2;
  border: 1px solid #fff;
}

.titulo {
  margin: 5vh;
  text-align: center;
  font-size: 8vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 50px!important;
}

.underbox {
  position: relative;
  top: -33vh;
  margin-left: 10vw;
  margin-right: 10vw;
  left: 0;
  right: 0;
  color: white;
  z-index: 2;
}

.subtitulo {
  margin-top: 3vh;
  text-align: center;
  font-size: 4 vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.custom-blur {
  filter: blur(7px);
}