<br>
<div *ngIf="isLoad; else loading" class="card my-3">
    <div class="card-head custom-div">
        <h5 class="card-title custom-head">{{data.title}}</h5>
    </div>
    <img src={{data.image}} class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text custom-body">{{data.descrip}}</p>
      <hr>
      <div>
        <p class="fs-3">opiniones:</p>
        
        <div *ngFor="let comment of comments" class="ms-4">
            <app-comment user="{{comment.UserName}}" comment="{{comment.comment}}" score="{{comment.score}}"></app-comment>
        </div>
        <div>
            <p class="fs-3 my-4">Agrega una opinion:</p>
            <form [formGroup]="form">
                <mat-form-field class="ms-4 w-100 pe-4 " >
                    <input required formControlName="nombre" placeholder="Nombre de usuario (entre 3 y 20 carácteres)" class="w-100" matInput>
                </mat-form-field>
                <mat-form-field class="ms-4 w-100 pe-4 " >
                    <input required formControlName="comentario" placeholder="Comentario( min 6 carácteres)" class="w-100" matInput>
                </mat-form-field>
                <mat-form-field class="ms-4 w-100 pe-4 " >
                    <input required type="number" formControlName="score"  placeholder="Puntuación (0 al 5)" class="w-100" matInput>
                </mat-form-field>
                <!-- <p *ngIf="form.get('score').errors.max" class="custom-err ms-4">Genial que te haya gustado pero es solo hasta 5 la puntuación</p>
                <p *ngIf="form.get('score').errors.min" class="custom-err ms-4">tan mal estaba? 0 es la minima puntuación</p> -->
                <div class="d-flex flex-row-reverse bd-highlight">
                    <button [disabled]="!form.valid" type="button"  class="btn btn-primary  me-4 my-2" (click)="addComent()">Agregar</button>
                </div>
                <!-- <button >Enviar</button> -->
            </form>
          
            
            
        </div>
      
    </div>
    </div>
  </div>
  <ng-template #loading class="loader">
    <app-spinner></app-spinner>
  </ng-template>
  <br>
  <br>