.tip {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid #ccc;
  }
  
  .tip-up {
    top: -27px; /* Same as body margin top + border */
    left: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
  }
  
  .dialogbox .body {
    position: relative;
    max-width: 90%;
    height: auto;
    margin-top: -2px;
    margin-left: 10px;
    /* margin: 20px 10px; */
    padding: 5px;
    background-color: #fff;
    border-radius: 3px;
    border: 8px solid #ccc;
  }
  
  .body .message {
    min-height: 30px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
    color: #797979;
    /* margin-top: 20px; */
  }
/* .user-name{
pading-bottom: -200px;
} */
.custom{
    margin-top: -100px;
}