.custom-h{
    height: 15vh;
    object-fit: cover;
    
}
.custom-descrip{
    height: 15vh;
   overflow-y:scroll;  
}
.custom-descrip::-webkit-scrollbar {
    width: 12px;         
  }
  
  .custom-descrip::-webkit-scrollbar-track {
    background: #fff;       
  }
  
  .custom-descrip::-webkit-scrollbar-thumb {
    background-color: #ccc;   
    border-radius: 20px;       
    border: 3px solid #fff; 
  }
.tarjeta{
    cursor: pointer;
    
}