


<div class="row">
    
    <div class= "col-4 col-sm-4 col-md-12 col-lg-6" >
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="tam">restaurant</mat-icon>
        <p>restaurantes</p>
  </div>
  <div class= "col-4  col-sm-4 col-md-12 col-lg-6" >
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="tam">restaurant</mat-icon>
</div>
<div class= "col-4  col-sm-4 col-md-12 col-lg-6" >
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="tam">restaurant</mat-icon>
</div>
<div class= "col-4 col-sm-4 col-md-12 col-lg-6" >
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="tam">restaurant</mat-icon>
</div>
<div class= "col-4  col-sm-4 col-md-12 col-lg-6" >
<mat-icon aria-hidden="false" aria-label="Example home icon" class="tam">restaurant</mat-icon>
</div>
<div class= "col-4  col-sm-4 col-md-12 col-lg-6" >
<mat-icon aria-hidden="false" aria-label="Example home icon" class="tam">restaurant</mat-icon>
</div>

  
  <!-- <app-show-products></app-show-products> -->
</div>
