a {
    text-decoration: none;
    color: white;
}
a:hover, a:active{
    color: rgb(26, 25, 25);
}
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
mat-toolbar{
    border-radius: 3px;
}
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}
/* .custom-h{
    height: 10vh;
} */
.custom-link{
    margin-left: 5vh;
}
.custom-margin{
    margin-left: -1.2vh;
}
