<nav class="navbar navbar-expand-lg navbar-dark  bg-dark custom-h">
    <div class="container-fluid bg-dark">
      <a class="navbar-brand" routerLink="/home">
        <img src="../../../assets/fevicon.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        GreenSpot
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mt-1 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link "  [routerLinkActive]="['active']" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLinkActive]="['active']"  routerLink="/products"    role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
            <li *ngIf="isAdmin" class="nav-item ">
              <a class="nav-link custom-margin d-none d-md-none d-lg-block" [routerLinkActive]="['active']"  routerLink="/products/admin"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              --> Admin
            </a>
            <a class="nav-link ms-2 d-block d-md-block d-lg-none" [routerLinkActive]="['active']"  routerLink="/products/admin"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" [routerLinkActive]="['active']"  routerLink="/store"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tiendas 
            </a>
          </li>
          <li class="nav-item ">
            <a *ngIf="isAdmin"  class="nav-link custom-margin d-none d-md-none d-lg-block" [routerLinkActive]="['active']"  routerLink="/store/admin"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            --> Admin
          </a>
          <a class="nav-link ms-2 d-block d-md-block d-lg-none" [routerLinkActive]="['active']"  routerLink="/store/admin"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          </li>
          <li class="nav-item ">
            <a   class="nav-link " [routerLinkActive]="['active']"  routerLink="/map"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mapa
          </a>
          </li>
          <li class="nav-item ">
            <a *ngIf="isAdmin"  class="nav-link" [routerLinkActive]="['active']"  routerLink="/auth/admin"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Users
          </a>
          </li>
        </ul>
        <form class="d-flex">
          <ul class="navbar-nav me-auto mt-1 mb-2 mb-lg-0">
            <li *ngIf="isUser" class="nav-item">
              <a class="nav-link "  [routerLinkActive]="['active']" (click)="logout()" routerLink="/home">Logout</a>
              
            </li>
            <li *ngIf="!isUser" class="nav-item">

              <a class="nav-link "  [routerLinkActive]="['active']" routerLink="/auth">login</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>