

<div class="container">
  <div class="row " > 
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <p class="titulo">Productos Destacados</p>
        <app-show [page_size]="4" [type]="'producto'"></app-show>
      </div>

  </div> 
  <div class="row " > 
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <p class="titulo">Tiendas Destacadas</p>
        <app-show [page_size]="4" [type]="'tienda'"></app-show>
      </div>

  </div>
  
</div>
